#app,
.el-container {
    width: 100vw;
    height: 100vh;
}
.el-header {
    padding: 0 @space;
    color: #fff;
    .flexBetween();
}
.el-aside {
    background-color: #001529;
}
.el-header {
    background-color: #001529
}
.el-main {
    padding: 0;
    background-color: #fafafa;
}
.el-menu {
    border: none;
}
.el-table {
    background-color: #fff;
    thead tr,
    th {
        color: #fff;
        background-color: #3f3f3f;
    }
}
.el-checkbox+.el-checkbox,
.el-radio+.el-radio {
    margin-left: @space;
}