#app,
.el-container {
    width: 100vw;
    height: 100vh;
}
.el-header {
    padding: 0 @space;
    color: #fff;
    .flexBetween();
}
.el-aside {
    background-color: #001529;
}
.el-header {
    background-color: #001529
}
.el-main {
    padding: 0;
}
.el-menu {
    border: none;
}